{% extends "main/base.html" %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"
{% endblock%}
{% block bd %}
     <header>
 	    </header>
  	    <main>
  		    <div class="container">
  				<div class = "columns-headers">REGISTER</div>


  				<form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>REGISTRATION</legend>
                        {{ register_form.as_p }}
                    </fieldset>
                    <p><input type="submit" class="button" value="Зарегистрировать"></p>
                </form>

  			</div>
  	    </main>
{% endblock%}
{% block footer %}
{% endblock%}