{% extends "main/base.html" %}
{% block links %}
    <link href="../static/css/style1.css" rel="stylesheet" type="text/css" />
    <script src="../static/java/java.js"></script>
    <script src="../static/java/hide_show.js"></script>
{% endblock%}

{% block bd %}<div id="outer">
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="#">Астрология</a>
                    </h1>
                </div>
                <div id="nav">
					<div id="menu-act">
						<ul>
							<li>
								<a href="{%  url 'home' %}">Главная</a>
							</li>
							<li>
								<a href="{%  url 'text' %}">Кармическая задача</a>
							</li>
							<li>
								<a href="{%  url 'tabl' %}">Знаки зодиака</a>
							</li>
							<li>
								<a href="{%  url 'form' %}">Помощь астролога</a>
							</li>
						</ul>
					</div>
					<script type="text/javascript">shineLinks('menu-act');</script>
                </div>
				</div>
				<div id="main">
					<div id="content">
                        <h2>
                            Кармическая задача Знаков Зодиака.
                        </h2>
                        <p>Каждый из нас наверняка слышал о существовании кармических задач, которые стоят перед каждым из нас. Этой областью занимается кармическая астрология. Таких задач всегда несколько у каждого из нас и они очень разные. Но даже не обращаясь к специалисту, Вы можете проверить как Вы или Ваши знакомые реализуете одну из них, очень и очень значимую. Это задача стоит перед всеми, хотя и проявляется у каждого из нас по-разному. И если человек не справился с ней - то ко всем остальным кармическим задачам в собственной жизни ему будет очень сложно подступиться.
                        </p>
                        <p>
                            Речь идет о проработке своего Солнечного знака. Все мы знаем, что мы родились под тем или иным знаком Зодиака. Но это и есть одна из важнейших наших задач - проявить свое Солнце, а не уйти в его Тень. Что еще за "Тень" спросите Вы? Тень - это искажение энергии собственного солнечного символа. И у каждого знака это происходит по-своему, однако с совершенно конкретными, типичными признаками.
                        </p>
                        <h3 onclick="showText('text1','zag1')" style="color: #FF0000;" id="zag1">
                            Овен
                        </h3>
                        <p id="text1" class="hide">
                            Есть ли у Вас знакомый <span style="color: #FF0000;">Овен</span>, совершенно неспособный к усидчивой, терпеливой работе и живущий постоянными рывками - от работы к работе, от увлечения к увлечению, с депрессиями и приступами домашнего деспотизма в промежутках? Нередкая картина правда? Это теневая сторона Овна, или говорят астрологи - "плохая проработка солнечного Знака". Проработанный Овен - это способность быть выносливым и терпеливым первопроходцем, быть закаленным острием меча в прогрессе человечества. Овен - это харизма воина.
                        </p>
                        <h3 onclick="showText('text2','zag2')" style="color: #32CD32;" id="zag2">
                            Телец
                        </h3>
                        <p id="text2" class="hide">
                            У <span style="color: #32CD32;">Тельца</span> своя тень. Как часто Вы видели своего знакомого Тельца, который не интересуется ничем, кроме того жизненного "лужка", на котором пасется? Нежелание что-либо делать, кроме жизненно необходимого и тотальная лень при первой же возможности расслабиться - это Тельцовская тень. Есть правда не менее сложный вариант - Тельцы помешанные на экстриме и сильных эмоциях. Задача Тельца - быть мощным тягловым Быком, тянущим на себе неподъемные для других, иногда - исторические дела.
                        </p>
                        <h3 onclick="showText('text3','zag3')" style="color: #1E90FF;" id="zag3">
                            Близнецы
                        </h3>
                        <p id="text3" class="hide">
                            <span style="color: #1E90FF;">Близнецы</span> имеют более любопытную обратную сторону. Некоторые даже превращают это в профессию. Тень Близнецов заключается в том, чтобы порхать по жизни в контактах, разговорах и в плохо переваренной книжной информации, заменяя качество - количеством. Постоянное доверие новым авторитетам и расхожим идеи, отсутствие своей позиции - это и есть тень Близнецов. Истинные Близнецы - это умение ориентироваться в людях и в любой информации, отличать фальшивое, смертное от подлинного, бессмертного (помните легенду о Касторе и Поллуксе?).
                        </p>
                        <h3 onclick="showText('text4','zag4')" style="color: #00008B;" id="zag4">
                            Рак
                        </h3>
                        <p id="text4" class="hide" >
                            Тень <span style="color: #00008B;">Рака</span> многие знают не понаслышке. Зрелище это малоприятное. Крайний консерватизм в смеси с истеричностью, эмоциональными всплесками и неуверенностью в собственном будущем - это безусловно гремучая смесь. Задача Рака - сохранять и передавать традицию, стать колодцем, из которого черпают мудрость времени и истории, оберегающим, а не карающим началом.
                        </p>
                        <h3 onclick="showText('text5','zag5')" style="color: #FF0000;" id="zag5">
                            Лев
                        </h3>
                        <p id="text5" class="hide">
                            Не менее известна и <span style="color: #FF0000;">Львиная</span> тень. Вы мало знаете Львов, которые ради того чтобы чувствовать себя уникальными готовы пресмыкаться и заискивать перед всеми кто их хвалит, "понимает" или "любит"? Преклонение перед чем-то особенным, исключительным (учением, человеком, идеей), претензии на избранность и неприятие всех, кто думает иначе - это тоже обратная сторона Льва. Подлинная роль Льва - быть стойким маяком света и Солнца для всех остальных знаков. Источником, а не потребителем любви и творчества.
                        </p>
                        <h3 onclick="showText('text6','zag6')" style="color: #32CD32;" id="zag6">
                            Дева
                        </h3>
                        <p id="text6" class="hide">
							Тень <span style="color: #32CD32;">Девы</span> проявляется двояко. Иногда как дремучие суеверия и неразборчивый мистицизм. Иногда - как максимальный скептицизм и неверие ни во что, кроме общепризнанного. А чаще всего - как восхитительная для стороннего наблюдателя смесь и того и другого. Задача Девы - стройная система и классификация, наведение порядка и стремление к совершенству.
                        </p>
                        <h3 onclick="showText('text7','zag7')" style="color: #1E90FF;" id="zag7">
                            Весы
                        </h3>
                        <p id="text7" class="hide">
							Теневой комплекс <span style="color: #1E90FF;">Весов</span>, если он ярко выражен, может вывести из себя кого угодно. Такие Весы почти непрерывно шарахаются в крайности - то любят, то ненавидят, то плачут, то смеются, а в итоге вечно ходят по одному и тому же кругу. Колеблются от почти полной неспособности действовать и решать, когда это действительно необходимо, до категоричного разрубания Гордиевых узлов, когда наоборот нужна точность и аккуратность. Задача Весов - прежде всего обрести равновесие в себе, чтобы иметь право указывать тот самый знаменитый Срединный Путь другим, стать камертоном равновесия.
                        </p>
                        <h3 onclick="showText('text8','zag8')" style="color: #00008B;" id="zag8">
                            Скорпион
                        </h3>
                        <p id="text8" class="hide">
							А <span style="color: #00008B;">Скорпионья</span> Тень и вовсе вошла в нашу культуру целыми областями и явлениями. Скорпион жалящий сам себя, страдающий от собственных страданий и наслаждающийся ими - своей ревностью, своей мнимой никчемностью или своей преувеличенной душевной болью - вот она, Тень Скорпиона. Подлинный Скорпион - самый выносливый знак Зодиака, умеющий перетерпеть все и отбросить все личное ради достижения Цели. На глупости настоящий Скорпион не разменивается.
                        </p>
                        <h3 onclick="showText('text9','zag9')" style="color: #FF0000;" id="zag9">
                            Стрелец
                        </h3>
                        <p id="text9" class="hide">
							Желание казаться более важной и значимой личностью, чем оно есть на самом деле, легковерие и непостоянство, игра в духовную личность при элементарной некомпетентности, а то и необразованности - все это характерные черты Тени <span style="color: #FF0000;">Стрельца</span>. Настоящая цель Стрельца - дальняя разведка в мире культуры, донесение далекого и непонятного знания до всех остальных людей без претензий на персональную исключительность.
                        </p>
                        <h3 onclick="showText('text10','zag10')" style="color: #32CD32;" id="zag10">
                            Козерог
                        </h3>
                        <p id="text10" class="hide">
							<span style="color: #32CD32;">Козерожья</span> обратная сторона тоже многим знакома. Болезненные самокопания и скрытый комплекс неполноценности, жалость к себе при безграничном эгоизме и душевной черствости - таковы признаки возможного духовного тупика у человека с сильным Козерогом в гороскопе. Истинный Козерог легко прыгает через горные ущелья, трезво оценивает свои возможности и жалость к себе его не мучает во время подъема в заоблачные вершины.
                        </p>
                        <h3 onclick="showText('text11','zag11')" style="color: #1E90FF;" id="zag11">
                            Водолей
                        </h3>
                        <p id="text11" class="hide">
							Кармический комплекс <span style="color: #1E90FF;">Водолея</span> встречается не так уж часто, но если Вы его видели - то легко узнаете. Тень Водолея проявляется в стремлении быть все время на виду, чувствовать себя значимой и сияющей фигурой, "пупом Земли". Такой Водолей совершенно не переносит, если он вдруг перестает быть центром внимания или его оценили не так, как ему хотелось бы. Он готов на весьма странное поведение, лишь бы его вновь заметили и оценили. Цель истинного Водолея - быть проводником будущего в сегодняшнем дне, быть важнейшей частью коллектива - его душой, но не его центром. Водолей - воплощение свободы от собственного Эго.
                        </p>
                        <h3 onclick="showText('text12','zag12')" style="color: #00008B;" id="zag12">
                            Рыбы
                        </h3>
                        <p id="text12" class="hide">
							Тень <span style="color: #00008B;">Рыб</span>, как Солнечного знака, проявляется в фатализме, безволии и депрессивном нежелании бороться за собственную жизнь. Есть правда и не менее сложный вариант - хаос в жизни, в мировоззрении, в отношениях. В Зодиакальном символе Рыб две рыбы. И подлинная цель Рыб - стать той Рыбой, которая целеустремленно плывет, возможно против течения за своей далёкой и непонятной для других, и возможно идеальной и абстрактной, но очень важной Целью.
                        </p>

                    </div>

                </div>
            </div>
{% endblock %}
{% block footer %}
    &copy; Ляйсан Зиязетдинова
{% endblock %}

<!--<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Astrology</title>
		
   
        <link href="../static/css/style1.css" rel="stylesheet" type="text/css" />
		<script src="../static/java/java.js"></script>
		<script src="../static/java/hide_show.js"></script>
    </head>
    <body>
        <div id="outer">
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="#">Астрология</a>
                    </h1>
                </div>
                <div id="nav">
					<div id="menu-act">
						<ul>
							<li>
								<a href="main.html">Главная</a>
							</li>
							<li>
								<a href="text_page.html">Кармическая задача</a>
							</li>
							<li>
								<a href="#">Знаки зодиака</a>
							</li>
							<li>
								<a href="#">Помощь астролога</a>
							</li>
						</ul>
					</div>
					<script type="text/javascript">shineLinks('menu-act');</script>
                </div>
				</div>
				<div id="main">
					<div id="content">
                        <h2>
                            Кармическая задача Знаков Зодиака.
                        </h2>
                        <p>Каждый из нас наверняка слышал о существовании кармических задач, которые стоят перед каждым из нас. Этой областью занимается кармическая астрология. Таких задач всегда несколько у каждого из нас и они очень разные. Но даже не обращаясь к специалисту, Вы можете проверить как Вы или Ваши знакомые реализуете одну из них, очень и очень значимую. Это задача стоит перед всеми, хотя и проявляется у каждого из нас по-разному. И если человек не справился с ней - то ко всем остальным кармическим задачам в собственной жизни ему будет очень сложно подступиться.
                        </p>
                        <p>
                            Речь идет о проработке своего Солнечного знака. Все мы знаем, что мы родились под тем или иным знаком Зодиака. Но это и есть одна из важнейших наших задач - проявить свое Солнце, а не уйти в его Тень. Что еще за "Тень" спросите Вы? Тень - это искажение энергии собственного солнечного символа. И у каждого знака это происходит по-своему, однако с совершенно конкретными, типичными признаками.
                        </p>
                        <h3 onclick="showText('text1','zag1')" style="color: #FF0000;" id="zag1">
                            Овен
                        </h3>
                        <p id="text1" class="hide">
                            Есть ли у Вас знакомый <span style="color: #FF0000;">Овен</span>, совершенно неспособный к усидчивой, терпеливой работе и живущий постоянными рывками - от работы к работе, от увлечения к увлечению, с депрессиями и приступами домашнего деспотизма в промежутках? Нередкая картина правда? Это теневая сторона Овна, или говорят астрологи - "плохая проработка солнечного Знака". Проработанный Овен - это способность быть выносливым и терпеливым первопроходцем, быть закаленным острием меча в прогрессе человечества. Овен - это харизма воина.
                        </p>
                        <h3 onclick="showText('text2','zag2')" style="color: #32CD32;" id="zag2">
                            Телец
                        </h3>
                        <p id="text2" class="hide">
                            У <span style="color: #32CD32;">Тельца</span> своя тень. Как часто Вы видели своего знакомого Тельца, который не интересуется ничем, кроме того жизненного "лужка", на котором пасется? Нежелание что-либо делать, кроме жизненно необходимого и тотальная лень при первой же возможности расслабиться - это Тельцовская тень. Есть правда не менее сложный вариант - Тельцы помешанные на экстриме и сильных эмоциях. Задача Тельца - быть мощным тягловым Быком, тянущим на себе неподъемные для других, иногда - исторические дела.
                        </p>
                        <h3 onclick="showText('text3','zag3')" style="color: #1E90FF;" id="zag3">
                            Близнецы
                        </h3>
                        <p id="text3" class="hide">
                            <span style="color: #1E90FF;">Близнецы</span> имеют более любопытную обратную сторону. Некоторые даже превращают это в профессию. Тень Близнецов заключается в том, чтобы порхать по жизни в контактах, разговорах и в плохо переваренной книжной информации, заменяя качество - количеством. Постоянное доверие новым авторитетам и расхожим идеи, отсутствие своей позиции - это и есть тень Близнецов. Истинные Близнецы - это умение ориентироваться в людях и в любой информации, отличать фальшивое, смертное от подлинного, бессмертного (помните легенду о Касторе и Поллуксе?).
                        </p>
                        <h3 onclick="showText('text4','zag4')" style="color: #00008B;" id="zag4">
                            Рак
                        </h3>
                        <p id="text4" class="hide" >
                            Тень <span style="color: #00008B;">Рака</span> многие знают не понаслышке. Зрелище это малоприятное. Крайний консерватизм в смеси с истеричностью, эмоциональными всплесками и неуверенностью в собственном будущем - это безусловно гремучая смесь. Задача Рака - сохранять и передавать традицию, стать колодцем, из которого черпают мудрость времени и истории, оберегающим, а не карающим началом.
                        </p>
                        <h3 onclick="showText('text5','zag5')" style="color: #FF0000;" id="zag5">
                            Лев
                        </h3>
                        <p id="text5" class="hide">
                            Не менее известна и <span style="color: #FF0000;">Львиная</span> тень. Вы мало знаете Львов, которые ради того чтобы чувствовать себя уникальными готовы пресмыкаться и заискивать перед всеми кто их хвалит, "понимает" или "любит"? Преклонение перед чем-то особенным, исключительным (учением, человеком, идеей), претензии на избранность и неприятие всех, кто думает иначе - это тоже обратная сторона Льва. Подлинная роль Льва - быть стойким маяком света и Солнца для всех остальных знаков. Источником, а не потребителем любви и творчества.
                        </p>
                        <h3 onclick="showText('text6','zag6')" style="color: #32CD32;" id="zag6">
                            Дева
                        </h3>
                        <p id="text6" class="hide">
							Тень <span style="color: #32CD32;">Девы</span> проявляется двояко. Иногда как дремучие суеверия и неразборчивый мистицизм. Иногда - как максимальный скептицизм и неверие ни во что, кроме общепризнанного. А чаще всего - как восхитительная для стороннего наблюдателя смесь и того и другого. Задача Девы - стройная система и классификация, наведение порядка и стремление к совершенству.	
                        </p>
                        <h3 onclick="showText('text7','zag7')" style="color: #1E90FF;" id="zag7">
                            Весы
                        </h3>
                        <p id="text7" class="hide">
							Теневой комплекс <span style="color: #1E90FF;">Весов</span>, если он ярко выражен, может вывести из себя кого угодно. Такие Весы почти непрерывно шарахаются в крайности - то любят, то ненавидят, то плачут, то смеются, а в итоге вечно ходят по одному и тому же кругу. Колеблются от почти полной неспособности действовать и решать, когда это действительно необходимо, до категоричного разрубания Гордиевых узлов, когда наоборот нужна точность и аккуратность. Задача Весов - прежде всего обрести равновесие в себе, чтобы иметь право указывать тот самый знаменитый Срединный Путь другим, стать камертоном равновесия.	
                        </p>
                        <h3 onclick="showText('text8','zag8')" style="color: #00008B;" id="zag8">
                            Скорпион
                        </h3>
                        <p id="text8" class="hide">
							А <span style="color: #00008B;">Скорпионья</span> Тень и вовсе вошла в нашу культуру целыми областями и явлениями. Скорпион жалящий сам себя, страдающий от собственных страданий и наслаждающийся ими - своей ревностью, своей мнимой никчемностью или своей преувеличенной душевной болью - вот она, Тень Скорпиона. Подлинный Скорпион - самый выносливый знак Зодиака, умеющий перетерпеть все и отбросить все личное ради достижения Цели. На глупости настоящий Скорпион не разменивается.	
                        </p>
                        <h3 onclick="showText('text9','zag9')" style="color: #FF0000;" id="zag9">
                            Стрелец
                        </h3>
                        <p id="text9" class="hide">
							Желание казаться более важной и значимой личностью, чем оно есть на самом деле, легковерие и непостоянство, игра в духовную личность при элементарной некомпетентности, а то и необразованности - все это характерные черты Тени <span style="color: #FF0000;">Стрельца</span>. Настоящая цель Стрельца - дальняя разведка в мире культуры, донесение далекого и непонятного знания до всех остальных людей без претензий на персональную исключительность.	
                        </p>
                        <h3 onclick="showText('text10','zag10')" style="color: #32CD32;" id="zag10">
                            Козерог
                        </h3>
                        <p id="text10" class="hide">
							<span style="color: #32CD32;">Козерожья</span> обратная сторона тоже многим знакома. Болезненные самокопания и скрытый комплекс неполноценности, жалость к себе при безграничном эгоизме и душевной черствости - таковы признаки возможного духовного тупика у человека с сильным Козерогом в гороскопе. Истинный Козерог легко прыгает через горные ущелья, трезво оценивает свои возможности и жалость к себе его не мучает во время подъема в заоблачные вершины.	
                        </p>
                        <h3 onclick="showText('text11','zag11')" style="color: #1E90FF;" id="zag11">
                            Водолей
                        </h3>
                        <p id="text11" class="hide">
							Кармический комплекс <span style="color: #1E90FF;">Водолея</span> встречается не так уж часто, но если Вы его видели - то легко узнаете. Тень Водолея проявляется в стремлении быть все время на виду, чувствовать себя значимой и сияющей фигурой, "пупом Земли". Такой Водолей совершенно не переносит, если он вдруг перестает быть центром внимания или его оценили не так, как ему хотелось бы. Он готов на весьма странное поведение, лишь бы его вновь заметили и оценили. Цель истинного Водолея - быть проводником будущего в сегодняшнем дне, быть важнейшей частью коллектива - его душой, но не его центром. Водолей - воплощение свободы от собственного Эго.	
                        </p>
                        <h3 onclick="showText('text12','zag12')" style="color: #00008B;" id="zag12">
                            Рыбы
                        </h3>
                        <p id="text12" class="hide">
							Тень <span style="color: #00008B;">Рыб</span>, как Солнечного знака, проявляется в фатализме, безволии и депрессивном нежелании бороться за собственную жизнь. Есть правда и не менее сложный вариант - хаос в жизни, в мировоззрении, в отношениях. В Зодиакальном символе Рыб две рыбы. И подлинная цель Рыб - стать той Рыбой, которая целеустремленно плывет, возможно против течения за своей далёкой и непонятной для других, и возможно идеальной и абстрактной, но очень важной Целью.	
                        </p>
							
                    </div>
						
                </div>
					
				
			</div>
			

	    <div id="footer">
  		 &copy; Ляйсан Зиязетдинова
  	    </div>
    </body>
</html>
-->
